#bottom-sheet.background {
  $TRANSLATE_DISTANCE: 100vh;
  $MOVING_TIME: 0.5s;

  &.open {
    background-color: rgba(#000, 0.3);
    transform: translateY(0);
    transition: transform $MOVING_TIME ease-in-out,
    background-color 0.2s $MOVING_TIME linear;
  }

  &.close {
    background-color: transparent;
    transform: translateY($TRANSLATE_DISTANCE);
    transition: transform $MOVING_TIME ease-in-out;
  }

  .wrapper {
    $HEIGHT: 90%;

    position: relative;
    top: calc(100% - $HEIGHT);

    height: $HEIGHT;

    background-color: #fff;

    border-radius: 20px 20px 0 0;

    overflow-y: scroll;

    .close {
      $PADDING: 8px;

      padding: $PADDING;

      position: sticky;
      top: 0;
      right: 0;

      height: calc(18px + $PADDING * 2);

      background-color: inherit;

      button {
        cursor: pointer;
      }
    }

    .content {
      padding: 0 10px 10px;
    }
  }
}
