.secret-input {
  display: flex;

  padding: 1px; // input 때문에 border가 가려져서 padding 지정

  border: 1px solid #020202;inputborder가paddingborder

  input {
    padding: 9px 14px;

    width: 100%;

    border: none;
  }

  .icon-placer {
    cursor: pointer;
  }
}
