#toast {

  @for $i from 1 through 3 {
    &.out-in-#{$i}-sec {
      animation: fade-out 1s linear #{$i - 1}s;
    }
  }
  position: fixed;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
