@import "../common/colors";
@import "../common/variables";

.account-inquiry {
  .header {
    text-align: center;
  }

  .main {
    flex-direction: column;

    margin-top: 24px;

    h2 {
      font-weight: bold;
    }

    p {
      font-family: "hanna-air", "hanna-air fallback";
      font-size: 10px;
    }

    span {
      color: map-get($COLOR, DANGER);
    }

    button {
      cursor: pointer;
    }

    .email,
    .inquiry-button,
    .customer-service {
      width: 80%;
    }

    .inquiry-button {
      @include fill-dark-4;
    }

    .guide {
      margin-top: 40px;

      height: 24px;

      font-size: 12px;

      background-color: #d9d9d9;
    }

    .customer-service {
      @include dark-4;
    }
  }
}
