@import "../common/colors.scss";
@import "../common/variables.scss";

.home {
  .header {
    text-align: center;

    .subtitle {
      font-family: dohyeon;
    }
  }

  .main {
    flex-direction: column;

    margin-top: 60px;

    section {
      font-family: "hanna-air";
    }

    .shared-code {
      margin: 12px 0 24px;

      width: 90%;
      height: 56px;

      font-size: 16px;
    }

    .tooltip {
      position: relative;

      width: calc(100% - $PAGE_ROOT_MARGIN * 2);

      float: left;

      .description {
        $DESCRIPTION_HEIGHT: 20px;

        @include fill-default;

        display: inline-flex;
        align-items: center;
        justify-content: center;

        width: 160px;
        height: $DESCRIPTION_HEIGHT;

        font-size: 8px;
        font-weight: 500;

        &::after {
          content: "";

          $BORDER_WIDTH: 10px;

          position: absolute;
          top: $DESCRIPTION_HEIGHT;
          left: 10px;

          border: {
            top: $BORDER_WIDTH solid map-get($COLOR, DEFAULT);
            right: $BORDER_WIDTH solid transparent;
            bottom: $BORDER_WIDTH solid transparent;
            left: $BORDER_WIDTH solid transparent;
          }
        }
      }
    }

    .user-id,
    .password {
      width: 90%;

      font-size: 10px;
    }

    .login {
      @include fill-dark-4;

      width: 80%;
    }

    .oauth-guide {
      margin-top: 36px;

      font-size: 15px;
    }

    .oauth-redirection {
      display: flex;
      justify-content: space-around;
      align-items: center;

      width: 80%;

      .kakao,
      .email {
        flex-direction: column;

        font-weight: 300;
        font-size: 12px;
      }
    }
  }
}
