@import "../common/colors";

.rolling-paper {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;

  .canvas {
    position: relative;

    width: 1000px;
    height: 500px;

    border: 1px solid black;

    &.drawing {
      cursor: crosshair;
    }

    .focus {
      @include normal;
    }
  }

  .button-wrapper {
    button {
      cursor: pointer;
    }
  }
}
