@font-face {
  font-family: dohyeon;
  src: url("../fonts/bm-dohyeon.woff2") format("woff2"),
    url("../fonts/bm-dohyeon.woff") format("woff");
}

@font-face {
  font-family: euljiro;
  src: url("../fonts/bm-euljiro.woff2") format("woff2"),
    url("../fonts/bm-euljiro.woff") format("woff");
}

@font-face {
  font-family: hanna-11-years;
  src: url("../fonts/bm-hanna-11-years.woff2") format("woff2"),
    url("../fonts/bm-hanna-11-years.woff") format("woff");
}

@font-face {
  font-family: hanna-air;
  src: url("../fonts/bm-hanna-air.woff2") format("woff2"),
    url("../fonts/bm-hanna-air.woff") format("woff");
}

@font-face {
  font-family: hanna-pro;
  src: url("../fonts/bm-hanna-pro.woff2") format("woff2"),
    url("../fonts/bm-hanna-pro.woff") format("woff");
}

@font-face {
  font-family: jua;
  src: url("../fonts/bm-jua.woff2") format("woff2"),
    url("../fonts/bm-jua.woff") format("woff");
}

@font-face {
  font-family: yeonsung;
  src: url("../fonts/bm-yeonsung.woff2") format("woff2"),
    url("../fonts/bm-yeonsung.woff") format("woff");
}
