@font-face {
  font-family: dohyeon;
  src: url("../fonts/bm-dohyeon.ttf");
}

@font-face {
  font-family: euljiro;
  src: url("../fonts/bm-euljiro.ttf");
}

@font-face {
  font-family: hanna-11-years;
  src: url("../fonts/bm-hanna-11-years.ttf");
}

@font-face {
  font-family: hanna-air;
  src: url("../fonts/bm-hanna-air.ttf");
}

@font-face {
  font-family: hanna-pro;
  src: url("../fonts/bm-hanna-pro.ttf");
}

@font-face {
  font-family: jua;
  src: url("../fonts/bm-jua.ttf");
}

@font-face {
  font-family: yeonsung;
  src: url("../fonts/bm-yeonsung.ttf");
}
