@import "./common/boxes";
@import "./common/variables";

// display
.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// margin
.m {
  @each $key, $value in $SIZE {
    &t-#{$key} {
      margin-top: #{$value}px;
    }
  }

  @each $key, $value in $SIZE {
    &r-#{$key} {
      margin-right: #{$value}px;
    }
  }

  @each $key, $value in $SIZE {
    &b-#{$key} {
      margin-bottom: #{$value}px;
    }
  }

  @each $key, $value in $SIZE {
    &l-#{$key} {
      margin-left: #{$value}px;
    }
  }
}

// padding
.p {
  @each $key, $value in $SIZE {
    &t-#{$key} {
      padding-top: #{$value}px;
    }
  }

  @each $key, $value in $SIZE {
    &r-#{$key} {
      padding-right: #{$value}px;
    }
  }

  @each $key, $value in $SIZE {
    &b-#{$key} {
      padding-bottom: #{$value}px;
    }
  }

  @each $key, $value in $SIZE {
    &l-#{$key} {
      padding-left: #{$value}px;
    }
  }
}

// text ellipsis
.txt-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// border
.radius {
  &-xs {
    border-radius: 2px;
  }

  &-sm {
    border-radius: 4px;
  }

  &-md {
    border-radius: 6px;
  }

  &-lg {
    border-radius: 8px;
  }

  &-xl {
    border-radius: 10px;
  }
}

// box-shadow
.shadow {
  &-sm {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  &-md {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
  }

  &-lg {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.11);
  }
}

// icon
svg {
  &.xs {
    width: 12px;
  }

  &.sm {
    width: 18px;
  }

  &.md {
    width: 24px;
  }

  &.lg {
    width: 36px;
  }

  &.xl {
    width: 48px;
  }
}

// button
button {
  &.xxxs {
    @include box-xxxs;

    font-size: 10px;
  }

  &.xxs {
    @include box-xxs;

    font-size: 12px;
  }

  &.xs {
    @include box-xs;

    font-size: 12px;
  }

  &.sm {
    @include box-sm;

    font-size: 12px;
  }

  &.md {
    @include box-md;

    font-size: 12px;
  }

  &.lg {
    @include box-lg;

    font-size: 14px;
  }

  &.xl {
    @include box-xl;

    font-size: 14px;
  }

  &.xxl {
    @include box-xxl;

    font-size: 14px;
  }

  &.xxxl {
    @include box-xxxl;

    font-size: 16px;
  }
}
